.corpo {
    position: relative;
    
}

/* cadastro */
.form-cadastro{
    margin-top: 5%;
}

/* tela de cadastro */
.nav-link { /*login/cadastro */
    color: #000080; 
    font-size: 13pt;
}
.form-cadastro {
    margin-top: 3%;
    
}
.borda-cadastro {
    border: 2px solid #1E90FF;
}
.titulo-registrar {
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
}
.registro {
    font-family: 'gotham', sans-serif;
}
.titulo-login {
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
}
.login {
    font-family: 'gotham', sans-serif;
}
.tipo {
    background-color: #E0FFFF;
    border:none;
    color: black;

}
.btn-registrar {
    margin-top: 20px;
}

/* header */
.logo {
    margin-left: 70px;
    
}

.btn-editar {
    margin-top: 2%;
    height: 100%;
    margin-left: 50%;
}

.editar {
    margin-bottom: 50%;
    margin-right: 50%;
}

.menu{   
    background-color: #F5F5F5; 
    -webkit-box-shadow: inset 0 6px 6px -7px  black;  
    -moz-box-shadow: inset 0 6px 6px -7px  black;  
    box-shadow: inset 0 6px 6px -7px  black; 
}

.foto {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-left: 5px;
}

.menu nav{
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 6px 6px -7px  black;  
    -moz-box-shadow: inset 0 6px 6px -7px  black;  
    box-shadow: inset 0 6px 6px -7px  black; 
   
}

.navbar-laravel {
    background: #F5F5F5; 
}

.menu nav a{
color: #1E90FF;
margin-left: 50px;
padding: 2px;
border-radius: 5px;
}

.menu nav a:hover{ 
    color: white;
    -webkit-transition: 1s; /* Safari */
    transition:  0.5s;
    background-color: #1E90FF;
}

/* home cliente */
.container-fluid {
    padding: 0%;
}
.h1-homeCliente {
    text-align: left;
    font-family: 'Gotham', sans-serif;
    color: white;
    margin-left: 15%;
    padding: 50px;
    font-size: 50pt;
}
.p-homeCliente {
    text-align: left;
    font-family: 'Gotham', sans-serif;
    color: white;
    margin-left: 15%;
    padding: 50px;
    font-size: 20pt;
}

.fundo-home {
    background: url('../img/fundo-home.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.trabalhador-autonomo {
    background: url('../img/trabalhador-autonomo.png');
    background-repeat: no-repeat;
    background-size: 415px;
    background-position: bottom right;
    background-position-x: 90%;

}
.trabalhador {
    background: url('../img/trabalhador.png');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: bottom right;
    background-position-x: 90%;
}
.icones {
    margin-left: 32px;
    margin-top: 5%;
}

.icones label {
    text-align: center;
    display: inline-block;
    padding-left: 50px; 
    font-size: 13pt;
}
.h1-card {
    text-align: center;
    margin-top: 120px;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #4169E1;
}
.card-home {
    margin-left: 25px;
    display: inline-block;
    margin-top: 50px;
    

}
.margin-foto {
    width: 80px;
    height: 80px;
    border-radius: 200px;
    margin-left: 50px;
    margin-top: 10px;
}
/* editar cliente/profisssal */
.card-cadastro-cliente {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #1E90FF;
}
.header-cadastro-cliente {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: white;
}
.body-cadastro-cliente {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}
/* pedido */
.table-pedido {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.head-pedido {
    text-align: center;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #4169E1;
}
.body-pedido {
    font-size: 13pt;
}
.descricao-pedido {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.label-pedido {
    font-size: 20pt;
    color: #4169E1;
}
.h1-pedido {
    font-family: Arial, Helvetica, sans-serif;
    color: #4169E1;
}
.card-pedido {
    border: 1px solid #1E90FF;
}
/* solicitacao cliente */
.table-solicitacao {
    font-size: 13pt;
}
.head-solicitacao {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* avaliacao cliente */
.table-avaliacao {
    font-size: 13pt;
}
.head-avaliacao {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* cliente */

h1#h1-cliente {
    font-size: 20pt;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #4169E1;
}

/* autonomo */
h1#h1-autonomo {
    font-size: 20pt;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #4169E1;
}

/* autonomo solicitacao */
/* .table-solicitacao-autonomo {
    display: flow-root;
    margin-left: 7%;
    margin-top: 2%;
} */

.custom-sidebar
{
    width: 1300px;
    text-align: left;
    margin: 0 auto;
}

/* footer */
.rodape{
    color: #fff;
    background: #1E90FF;
    height: 250px;
    text-align: center;  
    width:100%;
    -webkit-box-shadow: inset 0 6px 6px -7px  black;  
    -moz-box-shadow: inset 0 6px 6px -7px  black;  
    box-shadow: inset 0 6px 6px -7px  black;
    bottom:0%;
    
 
}
.h2-footer {
    text-align: left;
    padding: 2%;
    margin-left: 2%;
    font-family: 'cansolas' sans-serif;
}
.p-footer {
    margin-top: 30px;
    width: 80%;
    text-align: left;
    margin-left: 4%;
}

.instagram{
    margin-left: 10%;
}
/* login/cadastro/redefinir */
.espacoMin{
    min-height:580px;
    display: block;
}
.teste {
    background: url('../img/mecanico.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 320px;
    background-position-x: 95%;
}
.doutora {
    background: url('../img/advogada.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 400px;
    background-position-x: 1%;
}
.logo-fundo {
    background: url('../img/logo-fundo.png');
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.confuso {
    background: url('../img/confuso.png');
    background-size: 830px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 1%;
    
}
.super {
    background: url('../img/super.png');
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 99%;
    
}
/* avaliação */

.formAvaliação{
    margin-bottom:0px;
    margin-left:16px;
    border:2px solid #1E90FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    background-color: white;
    max-width:500px;
    padding:16px;
    margin: 5px auto;	
    font-size: 12pt;
}
.imagem-avaliar {
    margin: 0 168px auto;
}
.descricao-pedido {
    text-align: justify;
}

/* busca */
.h1-busca {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    margin: 20px auto;
    text-align: center;
    color: #4169E1;
}
.form-busca {
    text-align: center;
}
.card-informacao{
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
}

  